#img1{
   width: 100%;
   height: 100%;
}
#div1{
	position: relative;
	display: inline-block;
}
#p2{
	position: absolute;
    left: 600px;
    bottom: 715px;
    color: #9400FF;
    font-size: 70px;
    font-style: italic;
}
#img2{
	width: 100%;
	height: 100%;
}
#p1{
	text-align: center;
	margin-left: 700px;
	margin-right:700px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	margin-top: -750px;
}
#div2{
	background-image: url(https://www.bakercommunications.com/images/pattern-icons/2.png);
	margin-top: -34px;
}
#img3{
	width: 500px;
	margin:50px;
	height: 300px;
}
#img4{
	width: 500px;
	margin:50px;
	height: 300px;
}
#div3{
	display: flex;
	flex-direction: column;
	justify-content: left;
}
#div4{
	display: flex;
	flex-direction: column;
	justify-content: right;
}
#img5{
    width: 500px;
    float: right;
    margin-left: 1330px;
    margin-top: -752px;
    height: 300px;
}
#img6{
    width: 500px;
    float: right;
    margin-left: 1330px;
    margin-top: 95px;
    height: 300px;
}
#p3{
	position: absolute;
    left: 25px;
    bottom: 305px;
    color: black;
    font-size: 70px;
    font-style: italic;
    color: #009BFF;
}
#p4{
	position: absolute;
    left: 900px;
    bottom: -200px;
    color: black;
    font-size: 70px;
    font-style: italic;
    color: #FFAB00;
}
#slaid{
	width: 1278px;
	height: 1278px;
}
.padval{
	background-color: grey;
	width: 100%;
	height: 230px;
	display: flex;
	flex-direction: row;
}
#sozseti{
	width: 80px;
}
#samomy{
	display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 2px;
}
#svyiz{
	display: flex;
	flex-direction: column;
}
#poddergka{
	display: flex;
	flex-direction: column;
	margin-top: 2px;
}
#p5{
	width: 150px;
	margin-left: 60px;
	text-align: center;
}
#h2{
	margin-left: 30px;
	background-color: #FF0000;
}
button{
	background-color: #08d2ff;
}
h2{
	background-color:#08ff6b;
}
#h1{
	background-color: #A7FF00;	
}
#h3{
	background-color: #E3CE16;
}
header{
   width: 100%;
   background: black url(https://m-files.cdnvideo.ru/lpfile/f/b/f/fbfa0d7a260022ddceaf73237a5981b6/-/scale/x1/-/crop/0x0x332x332/-/resize/89/-/quality/95/file.png) no-repeat 5% 50%;
   height: 110px;
   position: fixed;
}
.title{
   font-size: 66px;
   text-align: center;
   font-style: italic;
   color: #00b3ff;
}
.menu{
   list-style: none;
   position: absolute;
   top: 5px;
   right: 50px;
   color: #00b3ff;
}
