#img1{
   width: 100%;
   height: 100%;
}
#div1{
	position: relative;
	display: inline-block;
}
#p2{
	position: absolute;
    left: 730px;
    bottom: 860px;
    color: black;
    font-size: 50px;
    font-style: italic;
}
#img2{
	width: 100%;
	height: 100%;
}
#p1{
	text-align: center;
	margin-left: 700px;
	margin-right:700px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
#div2{
	background-image: url(https://www.bakercommunications.com/images/pattern-icons/2.png);
	margin-top: -34px;
}